{% extends "AppBundle::default/layout.html.twig"%}
{% block title %}Admin - Statistiche{% endblock %}

{% block sidebar %}
{% include 'AppBundle::default/includes/sidebar_admin.html.twig' %}
{% endblock %}

{% block content %}
	<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header text-center huge lead">Statistiche generali</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row top-buffer">


                <div class="col-lg-2">
                    <div class="dropdown" id="crm-filter">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Esporta dati in
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Excel</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <button type="button" class="btn crm-button">Esporta</button>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-lg-3 col-lg-offset-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge totale-contatti">{{countUtenti}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center crm-daily-recap"><big>Totale Contatti</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-lg-3 col-lg-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge contatti-confermati">{{countConversioni}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center crm-daily-recap "><big>Contatti Confermati</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge non-interessati">{{countNonInteressati}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center crm-daily-recap "><big>Contatti Non Interessati</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge totale-chiamate">{{countChiamate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center crm-daily-recap"><big>Totale Chiamate</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge ctr_contatti">{{tassoConversioneUtenti |round(1, 'floor')}}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center divider-bottom crm-daily-recap"><big>Confermati</big></div>
                            <div class="text-center crm-daily-recap"><big>Contatti Totali</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge ctr_chiamate">{{tassoConversioneChiamate |round(1, 'floor')}}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center divider-bottom crm-daily-recap"><big>Confermati</big></div>
                            <div class="text-center crm-daily-recap"><big>Chiamate Totali</big></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top-buffer">

            </div>
        </div>
{% endblock %}
