{% extends "AppBundle::default/layout.html.twig"%}
{% block title %}Admin - Modifica Operatore{% endblock %}

{% block sidebar %}
{% include 'AppBundle::default/includes/sidebar_admin.html.twig' %}
{% endblock %}

{% block content %}
{{ form_start(form) }}
	<div id="wrapper">
			<div id="page-wrapper">
					<div class="row">
							<div class="col-lg-12">
									<h1 class="page-header text-center huge lead">Gestione Operatore ID:{{operatore.id}}</h1>
							</div>
							<!-- /.col-lg-12 -->
					</div>
					<div class="row  col-lg-offset-3 col-lg-12" itemscope itemtype="http://schema.org/Person">
							<div class="col-md-6">
											<div class="form-group">
													<label for="opID">ID Operatore</label>
													<input type="text" class="form-control" disabled value="{{operatore.id}}">
											</div>
													<label for="exampleName">Nome</label>
													{{ form_start(form) }}
													{{ form_widget(form.name) }}
													<label for="exampleLastName">Cognome</label>
													{{ form_widget(form.surname) }}
											<div class="form-group">
												<label for="exampleEmail">Email</label>
												{{ form_widget(form.email) }}
										</div>
											<label for="examplePhone">Telefono</label>
											{{ form_widget(form.phone) }}
									<div class="row top-buffer bottom-buffer">
											<div class="col-lg-4 col-lg-offset-3">
												{{ form_widget(form.indietro) }}
											</div>
											<div class="col-lg-4">
												{{ form_widget(form.Salva) }}
												{{ form_end(form) }}
											</div>
									</div>
								</div>
						</div>
				</div>
		</div>

{% endblock %}

{% block javascripts %}
        {% include 'AppBundle::default/includes/scripts.html.twig' %}
        <script>
    $(".back-btn").click(function() {
        window.history.back();
    });
</script>
    {% endblock %}
